@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.base-Input-root {
  @apply flex p-3 space-x-2 items-center border border-borderln rounded-md outline-gray-300 text-base text-txinput placeholder-txinput w-full;
}

.base-Input-input {
  @apply rounded-md outline-none text-base text-txinput placeholder-txinput w-full;
}
